wheresMySeoul/backend/awes/HELP.md
wheresMySeoul/backend/awes/.gradle
wheresMySeoul/backend/awes/build/
!wheresMySeoul/backend/awes/gradle/wrapper/gradle-wrapper.jar
!wheresMySeoul/backend/awes/**/src/main/**/build/
!wheresMySeoul/backend/awes/**/src/test/**/build/

### STS ###
wheresMySeoul/backend/awes/.apt_generated
wheresMySeoul/backend/awes/.classpath
wheresMySeoul/backend/awes/.factorypath
wheresMySeoul/backend/awes/.project
wheresMySeoul/backend/awes/.settings
wheresMySeoul/backend/awes/.springBeans
wheresMySeoul/backend/awes/.sts4-cache
wheresMySeoul/backend/awes/bin/
!wheresMySeoul/backend/awes/**/src/main/**/bin/
!wheresMySeoul/backend/awes/**/src/test/**/bin/

### IntelliJ IDEA ###
wheresMySeoul/backend/awes/application.properties

wheresMySeoul/backend/awes/.idea
wheresMySeoul/backend/awes/*.iws
wheresMySeoul/backend/awes/*.iml
wheresMySeoul/backend/awes/*.ipr
wheresMySeoul/backend/awes/out/
!wheresMySeoul/backend/awes/**/src/main/**/out/
!wheresMySeoul/backend/awes/**/src/test/**/out/

### NetBeans ###
wheresMySeoul/backend/awes/nbproject/private/
wheresMySeoul/backend/awes/nbbuild/
wheresMySeoul/backend/awes/dist/
wheresMySeoul/backend/awes/nbdist/
wheresMySeoul/backend/awes/.nb-gradle/

### VS Code ###
wheresMySeoul/backend/awes/.vscode/
