.weather_container{
    display: flex;
    flex-direction: row;
    align-items: center; /* 세로 중앙 정렬 */
  
  
  }
  .weather{
    color: #000;
    font-size: 38px;
    font-weight: bold;
    margin-right: 30px;
  }
  
  .weather_sub{
    color: #949494;
    font-size: 12px;
    font-weight:500;
    margin-right:auto;
  }
  .mes{
    color: #949494;
    font-size: 12px;
    margin: 3px;
    margin-bottom: 10px;


  }
  .mes_title{
    color: #313131;
    font-size: 14px;
    margin: 3px;
    margin-top: 20px;
  }