.selected_filter_button{
      /* width: 68px; */
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #fcaab9;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #ffffff;
  color: #DA4661;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';

}
.selected_filter_button_nature{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #00e24471;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}
.selected_filter_button_shopping{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #5e86fd7c;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}
.selected_filter_button_place{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #e256a36c;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}
.selected_filter_button_food{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #ff8c007a;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}
.selected_filter_button_street{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #845cfd78;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}
.selected_filter_button_foreign{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #fd695c8b;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}
.selected_filter_button_culture{
  height: 40px;
  padding :7px 14px;
  font-size: 14px;
  cursor: pointer;
  border-color: #2f2f2f;
  border-style:solid;
  border-width: 1px;
  margin-right: 10px;
  background-color: #fdf25e57;
  color: #2f2f2f;
  border-radius: 31px;
  margin-bottom: 0px;
  font-family: 'NanumBarunGothic';


}